body {
    font-family: "sans-serif";
    padding-top: 10px;
    width: 420px;
    margin: 0 auto;
}

#console {
    font-size: 10pt;
    dispaly: none;
}

#connect {
    width: 420px;
    margin: 0 auto;
    padding-top: 20px;
    display: none;
    background-color: #aaaaaa;
}

#connectbox {
    width: 380px;
    height: 600px;
    margin: 0 auto;
}

#qrcode {
    padding-top: 20px;
    width: 350px;
    height: 225px;
    margin: 0 auto;
    text-align: center;
}

#vidCap {
    width: 350px;
    height: 225px;
    margin: 0 auto;
    display: block;
    align: center;
 }

video {
    border: 3px solid #555555;
    width: 300px;
    height: 225px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#qr-canvas {
    display: none;
    width: 800px;
    height: 600px;
}
